<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
<div class="container">
<h1>500 Error Exception !!Please Contact Admin </h1>
<body>
<table class="table table-bordered">
<tr>
<td>Date ::</td>
<td th:text="${timestamp}"></td>
</tr>
<tr>
<td>Status ::</td>
<td th:text="${status}"></td>
</tr>
<tr>
<td>Error ::</td>
<td th:text="${error}"></td>
</tr>
<tr>
<td>Message ::</td>
<td th:text="${message}"></td>
</tr>
<tr>
<td>Path ::</td>
<td th:text="${path}"></td>
</tr>
</table>

</body>
</div>
</html>